$roboto:  'Roboto', sans-serif;
$roboto-con: 'Roboto Condensed', sans-serif;

$white: #fff;
$red: #ec644b;
$light-grey: #f3f3f3;
$title-color: #2e2e2e;
$text-color: #3a3a3a;
$dark-blue: #25333c;
$border: #f4f4f4;
$border-form: #c4c4c4;